In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import csv

In [29]:
employees = [('Stuti', 28, 'Varanasi','Varanasi'),
            ('Saumya', 32, 'Delhi','Delhi'),
            ('Aaditya', 25, 'Mumbai','Mumbai'),
            ('Saumya',None, 'Delhi','NewYork'),
            ('Saumya', 32, 'Delhi','Delhi'),
            ('Saumya', 32, 'Mumbai','Madrid'),
            ('Aaditya', 40, None,'Dehradun'),
            ('Seema', 32, 'Delhi','Delhi'),('Sima', 34, 'Delhi','Doha')
            ]

In [30]:
df = pd.DataFrame(employees,
                  columns = ['Name', 'Age', 'City','City2'])

In [31]:
df

      Name   Age      City     City2
0    Stuti  28.0  Varanasi  Varanasi
1   Saumya  32.0     Delhi     Delhi
2  Aaditya  25.0    Mumbai    Mumbai
3   Saumya   NaN     Delhi   NewYork
4   Saumya  32.0     Delhi     Delhi
5   Saumya  32.0    Mumbai    Madrid
6  Aaditya  40.0      None  Dehradun
7    Seema  32.0     Delhi     Delhi
8     Sima  34.0     Delhi      Doha

In [32]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    9 non-null      object
 1   Age     8 non-null      float64
 2   City    8 non-null      object
 3   City2   9 non-null      object
dtypes: float64(1), object(3)
memory usage: 1.8 KB

In [33]:
df.shape

(9, 4)

In [34]:
nan_colums1=df.isna().sum()
nan_colums1

Name     0
Age      1
City     1
City2    0
dtype: int64

In [37]:
(df.drop_duplicates().City==df.City2).value_counts()

ValueError: Can only compare identically-labeled Series objects